.card__title {
    margin: 0;
    max-width: 210px;
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.20;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}