.button_form_submit-sign {
  margin-top: 216px;
  width: 358px;
  height: 50px;
  font-size: 18px;
  line-height: 1.21;
  color: #000;
  background-color: #fff;
  border-radius: 2px;
}

.button_form_submit-sign:hover {
  opacity: .85;
}
