.profile__name-btn-container {
    padding-top: 22.25px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .profile__name-btn-container {
        padding-top: 0;
    }
}
