.section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: calc(320px - 19px*2);
}

@media screen and (min-width: 698px) {
    .section {
        max-width: calc(698px - 50px*2);
    }
}

@media screen and (min-width: 1024px) {
    .section {
        max-width: calc(1280px - 200px*2);
    }
}