.cards {
    padding-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .cards {
        padding-top: 47.25px;
    }
}
