.logo {
    padding-left: 27px;
    width: 103.74px;
    height: 24.4px;
    /* box-sizing: border-box; */
}

@media screen and (min-width: 698px) {
    .logo {
        padding-left: 0;
        width: 142px;
        height: 33px;
    }
}