.button_profile_add {
    margin: 36px 0 0;
    width: 282px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-image: url('../../../images/add_btn.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #000;
}

.button_profile_add:hover {
    opacity: .6;
}
    
@media screen and (min-width: 1024px) {
    .button_profile_add {
        margin: 0 0 0 auto;
        width: 150px;
        background-size: 22px 22px;
        justify-self: end;
    }
}